# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [2]:
# import libraries

import numpy as np
import pandas as pd
import sqlalchemy

from sqlalchemy import create_engine

In [4]:
# load messages dataset
messages = pd.read_csv('messages.csv')
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [5]:
# load categories dataset
categories = pd.read_csv('categories.csv')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [9]:
# merge datasets
df = messages.merge(categories, on='id')
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [12]:
df['categories'].nunique()

4003

In [14]:
# create a dataframe of the 36 individual category columns
categories = df['categories'].str.split(';', expand=True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [15]:
name_extract = lambda x:x.split('-')[0]

In [18]:
# select the first row of the categories dataframe
row = categories.iloc[0,:]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = list(categories.iloc[0,:].apply(name_extract))
print(category_colnames)

['related', 'request', 'offer', 'aid_related', 'medical_help', 'medical_products', 'search_and_rescue', 'security', 'military', 'child_alone', 'water', 'food', 'shelter', 'clothing', 'money', 'missing_people', 'refugees', 'death', 'other_aid', 'infrastructure_related', 'transport', 'buildings', 'electricity', 'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure', 'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold', 'other_weather', 'direct_report']

In [19]:
len(category_colnames)

36

In [20]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [25]:
categories.columns

Index(['related', 'request', 'offer', 'aid_related', 'medical_help',
       'medical_products', 'search_and_rescue', 'security', 'military',
       'child_alone', 'water', 'food', 'shelter', 'clothing', 'money',
       'missing_people', 'refugees', 'death', 'other_aid',
       'infrastructure_related', 'transport', 'buildings', 'electricity',
       'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure',
       'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold',
       'other_weather', 'direct_report'],
      dtype='object')

In [27]:
extract_bool = lambda x:x[-1]

In [29]:
for column in categories:
    print(categories[column])

0        related-1
1        related-1
2        related-1
3        related-1
4        related-1
           ...
26381    related-0
26382    related-0
26383    related-1
26384    related-1
26385    related-1
Name: related, Length: 26386, dtype: object
0        request-0
1        request-0
2        request-0
3        request-1
4        request-0
           ...
26381    request-0
26382    request-0
26383    request-0
26384    request-0
26385    request-0
Name: request, Length: 26386, dtype: object
0        offer-0
1        offer-0
2        offer-0
3        offer-0
4        offer-0
          ...
26381    offer-0
26382    offer-0
26383    offer-0
26384    offer-0
26385    offer-0
Name: offer, Length: 26386, dtype: object
0        aid_related-0
1        aid_related-1
2        aid_related-0
3        aid_related-1
4        aid_related-0
             ...
26381    aid_related-0
26382    aid_related-0
26383    aid_related-0
26384    aid_related-1
26385    aid_related-0
Name: aid_related, Length: 26386, dtype: object
0        medical_help-0
1        medical_help-0
2        medical_help-0
3        medical_help-0
4        medical_help-0
              ...
26381    medical_help-0
26382    medical_help-0
26383    medical_help-0
26384    medical_help-0
26385    medical_help-0
Name: medical_help, Length: 26386, dtype: object
0        medical_products-0
1        medical_products-0
2        medical_products-0
3        medical_products-1
4        medical_products-0
                ...
26381    medical_products-0
26382    medical_products-0
26383    medical_products-0
26384    medical_products-0
26385    medical_products-0
Name: medical_products, Length: 26386, dtype: object
0        search_and_rescue-0
1        search_and_rescue-0
2        search_and_rescue-0
3        search_and_rescue-0
4        search_and_rescue-0
                ...
26381    search_and_rescue-0
26382    search_and_rescue-0
26383    search_and_rescue-0
26384    search_and_rescue-0
26385    search_and_rescue-0
Name: search_and_rescue, Length: 26386, dtype: object
0        security-0
1        security-0
2        security-0
3        security-0
4        security-0
            ...
26381    security-0
26382    security-0
26383    security-0
26384    security-0
26385    security-0
Name: security, Length: 26386, dtype: object
0        military-0
1        military-0
2        military-0
3        military-0
4        military-0
            ...
26381    military-0
26382    military-0
26383    military-0
26384    military-1
26385    military-0
Name: military, Length: 26386, dtype: object
0        child_alone-0
1        child_alone-0
2        child_alone-0
3        child_alone-0
4        child_alone-0
             ...
26381    child_alone-0
26382    child_alone-0
26383    child_alone-0
26384    child_alone-0
26385    child_alone-0
Name: child_alone, Length: 26386, dtype: object
0        water-0
1        water-0
2        water-0
3        water-0
4        water-0
          ...
26381    water-0
26382    water-0
26383    water-0
26384    water-0
26385    water-0
Name: water, Length: 26386, dtype: object
0        food-0
1        food-0
2        food-0
3        food-0
4        food-0
          ...
26381    food-0
26382    food-0
26383    food-0
26384    food-0
26385    food-0
Name: food, Length: 26386, dtype: object
0        shelter-0
1        shelter-0
2        shelter-0
3        shelter-0
4        shelter-0
           ...
26381    shelter-0
26382    shelter-0
26383    shelter-0
26384    shelter-0
26385    shelter-0
Name: shelter, Length: 26386, dtype: object
0        clothing-0
1        clothing-0
2        clothing-0
3        clothing-0
4        clothing-0
            ...
26381    clothing-0
26382    clothing-0
26383    clothing-0
26384    clothing-0
26385    clothing-0
Name: clothing, Length: 26386, dtype: object
0        money-0
1        money-0
2        money-0
3        money-0
4        money-0
          ...
26381    money-0
26382    money-0
26383    money-0
26384    money-0
26385    money-0
Name: money, Length: 26386, dtype: object
0        missing_people-0
1        missing_people-0
2        missing_people-0
3        missing_people-0
4        missing_people-0
               ...
26381    missing_people-0
26382    missing_people-0
26383    missing_people-0
26384    missing_people-0
26385    missing_people-0
Name: missing_people, Length: 26386, dtype: object
0        refugees-0
1        refugees-0
2        refugees-0
3        refugees-0
4        refugees-0
            ...
26381    refugees-0
26382    refugees-0
26383    refugees-0
26384    refugees-0
26385    refugees-0
Name: refugees, Length: 26386, dtype: object
0        death-0
1        death-0
2        death-0
3        death-0
4        death-0
          ...
26381    death-0
26382    death-0
26383    death-0
26384    death-0
26385    death-0
Name: death, Length: 26386, dtype: object
0        other_aid-0
1        other_aid-1
2        other_aid-0
3        other_aid-1
4        other_aid-0
            ...
26381    other_aid-0
26382    other_aid-0
26383    other_aid-0
26384    other_aid-0
26385    other_aid-0
Name: other_aid, Length: 26386, dtype: object
0        infrastructure_related-0
1        infrastructure_related-0
2        infrastructure_related-0
3        infrastructure_related-1
4        infrastructure_related-0
                   ...
26381    infrastructure_related-0
26382    infrastructure_related-0
26383    infrastructure_related-0
26384    infrastructure_related-0
26385    infrastructure_related-0
Name: infrastructure_related, Length: 26386, dtype: object
0        transport-0
1        transport-0
2        transport-0
3        transport-0
4        transport-0
            ...
26381    transport-0
26382    transport-0
26383    transport-0
26384    transport-0
26385    transport-0
Name: transport, Length: 26386, dtype: object
0        buildings-0
1        buildings-0
2        buildings-0
3        buildings-1
4        buildings-0
            ...
26381    buildings-0
26382    buildings-0
26383    buildings-0
26384    buildings-0
26385    buildings-0
Name: buildings, Length: 26386, dtype: object
0        electricity-0
1        electricity-0
2        electricity-0
3        electricity-0
4        electricity-0
             ...
26381    electricity-0
26382    electricity-0
26383    electricity-0
26384    electricity-0
26385    electricity-0
Name: electricity, Length: 26386, dtype: object
0        tools-0
1        tools-0
2        tools-0
3        tools-0
4        tools-0
          ...
26381    tools-0
26382    tools-0
26383    tools-0
26384    tools-0
26385    tools-0
Name: tools, Length: 26386, dtype: object
0        hospitals-0
1        hospitals-0
2        hospitals-0
3        hospitals-1
4        hospitals-0
            ...
26381    hospitals-0
26382    hospitals-0
26383    hospitals-0
26384    hospitals-0
26385    hospitals-0
Name: hospitals, Length: 26386, dtype: object
0        shops-0
1        shops-0
2        shops-0
3        shops-0
4        shops-0
          ...
26381    shops-0
26382    shops-0
26383    shops-0
26384    shops-0
26385    shops-0
Name: shops, Length: 26386, dtype: object
0        aid_centers-0
1        aid_centers-0
2        aid_centers-0
3        aid_centers-0
4        aid_centers-0
             ...
26381    aid_centers-0
26382    aid_centers-0
26383    aid_centers-0
26384    aid_centers-0
26385    aid_centers-0
Name: aid_centers, Length: 26386, dtype: object
0        other_infrastructure-0
1        other_infrastructure-0
2        other_infrastructure-0
3        other_infrastructure-0
4        other_infrastructure-0
                  ...
26381    other_infrastructure-0
26382    other_infrastructure-0
26383    other_infrastructure-0
26384    other_infrastructure-0
26385    other_infrastructure-0
Name: other_infrastructure, Length: 26386, dtype: object
0        weather_related-0
1        weather_related-1
2        weather_related-0
3        weather_related-0
4        weather_related-0
               ...
26381    weather_related-0
26382    weather_related-0
26383    weather_related-0
26384    weather_related-0
26385    weather_related-0
Name: weather_related, Length: 26386, dtype: object
0        floods-0
1        floods-0
2        floods-0
3        floods-0
4        floods-0
           ...
26381    floods-0
26382    floods-0
26383    floods-0
26384    floods-0
26385    floods-0
Name: floods, Length: 26386, dtype: object
0        storm-0
1        storm-1
2        storm-0
3        storm-0
4        storm-0
          ...
26381    storm-0
26382    storm-0
26383    storm-0
26384    storm-0
26385    storm-0
Name: storm, Length: 26386, dtype: object
0        fire-0
1        fire-0
2        fire-0
3        fire-0
4        fire-0
          ...
26381    fire-0
26382    fire-0
26383    fire-0
26384    fire-0
26385    fire-0
Name: fire, Length: 26386, dtype: object
0        earthquake-0
1        earthquake-0
2        earthquake-0
3        earthquake-0
4        earthquake-0
             ...
26381    earthquake-0
26382    earthquake-0
26383    earthquake-0
26384    earthquake-0
26385    earthquake-0
Name: earthquake, Length: 26386, dtype: object
0        cold-0
1        cold-0
2        cold-0
3        cold-0
4        cold-0
          ...
26381    cold-0
26382    cold-0
26383    cold-0
26384    cold-0
26385    cold-0
Name: cold, Length: 26386, dtype: object
0        other_weather-0
1        other_weather-0
2        other_weather-0
3        other_weather-0
4        other_weather-0
              ...
26381    other_weather-0
26382    other_weather-0
26383    other_weather-0
26384    other_weather-0
26385    other_weather-0
Name: other_weather, Length: 26386, dtype: object
0        direct_report-0
1        direct_report-0
2        direct_report-0
3        direct_report-0
4        direct_report-0
              ...
26381    direct_report-0
26382    direct_report-0
26383    direct_report-0
26384    direct_report-0
26385    direct_report-0
Name: direct_report, Length: 26386, dtype: object

In [31]:
for column in categories:
    categories[column] = categories[column].apply(extract_bool)
    print(categories[column])

0        1
1        1
2        1
3        1
4        1
        ..
26381    0
26382    0
26383    1
26384    1
26385    1
Name: related, Length: 26386, dtype: object
0        0
1        0
2        0
3        1
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: request, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: offer, Length: 26386, dtype: object
0        0
1        1
2        0
3        1
4        0
        ..
26381    0
26382    0
26383    0
26384    1
26385    0
Name: aid_related, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: medical_help, Length: 26386, dtype: object
0        0
1        0
2        0
3        1
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: medical_products, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: search_and_rescue, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: security, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    1
26385    0
Name: military, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: child_alone, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: water, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: food, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: shelter, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: clothing, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: money, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: missing_people, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: refugees, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: death, Length: 26386, dtype: object
0        0
1        1
2        0
3        1
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: other_aid, Length: 26386, dtype: object
0        0
1        0
2        0
3        1
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: infrastructure_related, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: transport, Length: 26386, dtype: object
0        0
1        0
2        0
3        1
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: buildings, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: electricity, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: tools, Length: 26386, dtype: object
0        0
1        0
2        0
3        1
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: hospitals, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: shops, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: aid_centers, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: other_infrastructure, Length: 26386, dtype: object
0        0
1        1
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: weather_related, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: floods, Length: 26386, dtype: object
0        0
1        1
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: storm, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: fire, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: earthquake, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: cold, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: other_weather, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: direct_report, Length: 26386, dtype: object

In [32]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].apply(extract_bool)
    print(categories[column])
    # convert column from string to numeric
    categories[column] = categories[column].astype('float')
categories.head()

0        1
1        1
2        1
3        1
4        1
        ..
26381    0
26382    0
26383    1
26384    1
26385    1
Name: related, Length: 26386, dtype: object
0        0
1        0
2        0
3        1
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: request, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: offer, Length: 26386, dtype: object
0        0
1        1
2        0
3        1
4        0
        ..
26381    0
26382    0
26383    0
26384    1
26385    0
Name: aid_related, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: medical_help, Length: 26386, dtype: object
0        0
1        0
2        0
3        1
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: medical_products, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: search_and_rescue, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: security, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    1
26385    0
Name: military, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: child_alone, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: water, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: food, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: shelter, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: clothing, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: money, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: missing_people, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: refugees, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: death, Length: 26386, dtype: object
0        0
1        1
2        0
3        1
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: other_aid, Length: 26386, dtype: object
0        0
1        0
2        0
3        1
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: infrastructure_related, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: transport, Length: 26386, dtype: object
0        0
1        0
2        0
3        1
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: buildings, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: electricity, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: tools, Length: 26386, dtype: object
0        0
1        0
2        0
3        1
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: hospitals, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: shops, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: aid_centers, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: other_infrastructure, Length: 26386, dtype: object
0        0
1        1
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: weather_related, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: floods, Length: 26386, dtype: object
0        0
1        1
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: storm, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: fire, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: earthquake, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: cold, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: other_weather, Length: 26386, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: direct_report, Length: 26386, dtype: object

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
#categories.select_dtypes(include='number')

In [37]:
#categories.select_dtypes(include='category').columns.nunique()

In [39]:
categories.select_dtypes(include='number').columns.nunique()

36

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [42]:
categories.columns.nunique()

36

In [44]:
df.columns

Index(['id', 'message', 'original', 'genre', 'categories'], dtype='object')

In [46]:
# drop the original categories column from `df`
df = df.drop(columns='categories')

df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [48]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df, categories], axis=1)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
df.select_dtypes(include='number').columns.nunique()

37

In [52]:
df.select_dtypes(include='object').columns.nunique()

3

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [55]:
# check number of duplicates

df.duplicated().sum()

170

In [57]:
#df[df.duplicated()]

In [402]:
# drop duplicates

df = df.drop_duplicates()

In [403]:
# check number of duplicates

df.duplicated().sum()

0

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [405]:
engine = create_engine('sqlite:///InsertDatabaseName.db')
df.to_sql('chrismo', engine, index=False, if_exists='replace')

26216

### 8. Use this notebook to complete `process_data.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `process_data.py` in the classroom on the `Project Workspace IDE` coming later.

In [441]:
df.isna().sum()

id                            0
message                       0
original                  16046
genre                         0
related                       0
request                       0
offer                         0
aid_related                   0
medical_help                  0
medical_products              0
search_and_rescue             0
security                      0
military                      0
child_alone                   0
water                         0
food                          0
shelter                       0
clothing                      0
money                         0
missing_people                0
refugees                      0
death                         0
other_aid                     0
infrastructure_related        0
transport                     0
buildings                     0
electricity                   0
tools                         0
hospitals                     0
shops                         0
aid_centers                   0
other_infrastructure          0
weather_related               0
floods                        0
storm                         0
fire                          0
earthquake                    0
cold                          0
other_weather                 0
direct_report                 0
dtype: int64

In [450]:
df[df['original'].isna()].head(50)

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
7483,8365,NOTES: It mark as not enough information,NaN,direct,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9956,11186,My thoughts and prayers go out to all the live...,NaN,social,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9957,11188,I m sorry for the poor people in Haiti tonight...,NaN,social,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9958,11189,RT selenagomez UNICEF has just announced an em...,NaN,social,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9959,11192,lilithia yes 5.2 magnitude earthquake hit mani...,NaN,social,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9960,11193,RT TheNewsBlotter RT caribnews On Call Interna...,NaN,social,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9961,11195,Most Eureka homeowners won&#39 t collect on qu...,NaN,social,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9962,11196,Haiti hit by largest earthquake in over 200 ye...,NaN,social,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9963,11197,RT pinkelephantpun Earthquake Relief Donate ht...,NaN,social,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9964,11198,Praying that today s earthquake in #Haiti mini...,NaN,social,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9965,11199,RT YURFAVHALFBREED Moment of silence for those...,NaN,social,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9966,11200,RT lucasrohan Tem alguma coisa do Haiti? T u00...,NaN,social,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9967,11201,RT SamaritansPurse Currently mobilizing a team...,NaN,social,1.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
9968,11202,My prayers to everyone affected by the earthqu...,NaN,social,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9969,11204,talking to ma mom..she lives in Jamaica still ...,NaN,social,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9970,11205,MD Blog Prayer and Response for Haiti As many ...,NaN,social,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
9971,11207,7.0 earthquake hits Haiti http bit.ly 8Mpo38 #cnn,NaN,social,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9972,11208,MD Blog Prayer and Response for Haiti As many ...,NaN,social,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9973,11210,Reading about the earthquake in Haiti. Looks l...,NaN,social,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9974,11213,RT LeeGrady Haiti is in shambles after this ea...,NaN,social,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9975,11215,RT Stodsports http twitpic.com xvgbm image of ...,NaN,social,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9976,11219,Earthquake in #Haiti? Does anyone know anythin...,NaN,social,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9977,11220,Horrible earthquake of the coast of Haiti ever...,NaN,social,1.0,0.0,0.0,1.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
9978,11221,#muse #theresistance Earthquake Hits Haiti Maj...,NaN,social,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9979,11223,wow this made me tear... Haiti Earthquake Afte...,NaN,social,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9980,11224,Mt Sentinel Quest students are all safe in Hai...,NaN,social,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9981,11225,RT washingtonpost RT PostWorldNews Here are a ...,NaN,social,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9982,11226,Tragic earthquake brings back memories of wond...,NaN,social,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9983,11227,Follow photomorel for photos of Haiti earthqua...,NaN,social,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9984,11231,Got home to distressing news Big earthquake in...,NaN,social,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9985,11232,L.A. County fire rescue team prepares to deplo...,NaN,social,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9986,11236,everytime something like this earthquake happe...,NaN,social,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9987,11237,Haiti Earthquake Launching Ushahidi platform h...,NaN,social,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9988,11241,i m glad there won t be a tsunami affecting my...,NaN,social,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9989,11242,Statement on the earthquake in Haiti from Hait...,NaN,social,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9990,11243,Damn da earthquake hit da ol g hood n everythi...,NaN,social,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
9991,11245,Massive earthquake rocks Haiti no info about I...,NaN,social,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9992,11246,Anyone have info on the earthquake s reach acr...,NaN,social,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9993,11247,RT myfoxstorm Haiti earthquake info..http bit....,NaN,social,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
9994,11249,RT OrphanProject Most of you have probably hea...,NaN,social,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9995,11250,RT osalazar Ushahidi Map for Earthquake in Hai...,NaN,social,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9996,11253,Watching BBC. It reports hundreds to have fear...,NaN,social,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9997,11254,#Pray4Those who have been affected by the eart...,NaN,social,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9998,11255,Haiti has been hit by the largest earthquake i...,NaN,social,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9999,11256,RT cnnbrk For the latest developments on the e...,NaN,social,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10000,11257,#news Paddington Town hall to get earthquake p...,NaN,social,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10001,11258,People of haiti are living in terror wondering...,NaN,social,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10002,11259,In Punta Cana Dominican Republic for a friend ...,NaN,social,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10003,11260,Many feared dead as huge earthquake hits Haiti...,NaN,social,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10004,11261,RT InternetHaiti Haiti earthquake live on Ustr...,NaN,social,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

# Conclusion


The original being empty dont matter to us, we have the traininf message